{% extends 'myapp/base.html' %}
{% load static %}
{% load i18n %}

{% block myheader %}
<link rel="stylesheet" href="{% static 'css/myCss.css' %}">
<h1>{% trans "COMPÉTENCE 1" %}</h1>
{% endblock myheader %}

{% block aside %}
<h2>{% trans "Compétence 1 — Réaliser un développement d’application" %}</h2>

<p>
    {% blocktrans %}
    Développer — c'est-à-dire concevoir, coder, tester et intégrer — une solution informatique pour un client, 
    en respectant les besoins décrits, en appliquant les principes algorithmiques, 
    en veillant à la qualité du code et à sa documentation, 
    et en choisissant les ressources techniques appropriées.
    {% endblocktrans %}
</p>

<nav class="toc">
    <h3>{% trans "Sommaire" %}</h3>
    <ul id="toc-list"></ul>
</nav>
{% endblock aside %}

{% block content %}
<div class="collapsible-wrapper">

    <!-- SECTION A -->
    <div class="collapsible-section" id="A">
        <button class="collapsible-btn">{% trans "A. Développer des applications informatiques simples" %}</button>
        <div class="collapsible-content">

            <!-- AC1 -->
            <div class="collapsible-section" id="Aac1">
                <button class="collapsible-btn">{% trans "1 – Implémenter des conceptions simples" %}</button>
                <div class="collapsible-content">
                    <p>{% trans "Traduire une conception simple (diagrammes, schémas, algorithmes) en code exécutable." %}</p>
                    <br>
                    <p>{% trans "Voici un algorithme de saisie et vérification qui permet de saisir et vérifier un pourcentage saisi par l'utilisateur (entre 0 et 100)" %}</p>
                    <img src="{% static 'image/preuve-comp1-A-AC1.png' %}" alt="Schéma d'algorithme de vérification de saisie">
                    <p>{% trans "Et voici cet algorithme que j'ai transformé en code" %}</p>
                    <pre><code>
int main(void)
{
    //VARIABLES
    short int pourcentage; // valeur du pourcentage saisi à valider

    //TRAITEMENTS

    // saisirPourcentage >> pourcentage
    while(true)
    {
      cout << "Veuillez saisir un pourcentage entre 0 et 100 : ";
      cin >> pourcentage;

      if (pourcentage >= 0 && pourcentage <= 100)
      {
        break;
      }

      cout << "Erreur :" << endl;
    }

    // pourcentage >> afficherPourcentageValide

    cout << "Pourcentage valide : " << pourcentage;

    return 0;
}
                    </code></pre>
                </div>
            </div>

            <!-- AC2 -->
            <div class="collapsible-section" id="Aac2">
                <button class="collapsible-btn">{% trans "2 – Élaborer des conceptions simples" %}</button>
                <div class="collapsible-content">
                    <p>{% trans "Concevoir une solution à partir d’un problème donné, en utilisant des modèles simples (par ex. diagrammes UML)." %}</p>
                </div>
            </div>

            <!-- AC3 -->
            <div class="collapsible-section" id="Aac3">
                <button class="collapsible-btn">{% trans "3 – Faire des essais et évaluer leurs résultats en regard des spécifications" %}</button>
                <div class="collapsible-content"></div>
            </div>

            <!-- AC4 -->
            <div class="collapsible-section" id="Aac4">
                <button class="collapsible-btn">{% trans "4 – Développer des interfaces utilisateurs" %}</button>
                <div class="collapsible-content">
                    <p>{% trans "Avec ce site, je prouve que je peux développer des interfaces utilisateurs !" %}</p>
                </div>
            </div>

        </div>
    </div>

    <!-- SECTION B -->
    <div class="collapsible-section" id="B">
        <button class="collapsible-btn">{% trans "B. Partir des exigences et aller jusqu’à une application complète" %}</button>
        <div class="collapsible-content">

            <!-- AC1 -->
            <div class="collapsible-section" id="Bac1">
                <button class="collapsible-btn">{% trans "1 – Élaborer et implémenter les spécifications fonctionnelles et non fonctionnelles à partir des exigences" %}</button>
                <div class="collapsible-content">
                    <pre><code>


/*
Numéro du groupe : 16                    
Nom du groupe : Les Sentinelles du Code Sacré                   
Étudiants : Valentin Inesta, Jeanne Pietrera, Thibaut Rosa, Clémence Perraudin               
Numéro de Kata : 2                
Numéro de l'exercice : 6            
But de l'exercice : Afficher un message indiquant si le caractere saisit est dans la chaine de caractere prédéfinie ou pas                
Modèle(s) d'algorithme(s) choisi(s) : recherche de premiere occurence            
Brève justification du ou des modèles choisis : on recherche un caractere specifique dans une chaine de caractere                 
Remarques éventuelles :                    
*/
                        
#include <iostream>
using namespace std;
                        
int main(void)
{
    //VARIABLES
                            
    string chaine = "le code ne ment jamais";
    int caractereRecherche;// le caractere recherche
    const int NB_CHAR = 22; // nombre de caractere de la chaine
    unsigned int indice; // indice du tableau qui permet de le parcourir
    bool estPresent; // indique si le caractere recherche est present dans la chaine
                            
                            
    //TRAITEMENTS
                            
    //(clavier) >> saisirCaractere >> caractereRecherche
    cout << "Caractere a rechercher : " ; cin>> caractereRecherche;
                            
    //initialiserRecherche >> indice, estPresent
                            
    indice = 0;
    estPresent = false;
                            
                            
    // chaine, indice, NB_CHAR, caractereRecherche, estPresent >> remplacerValeurs >> estPresent
                            
    while(true)
    {
        if (indice >= NB_CHAR)
        {
            break;
        }
        if (chaine[indice] == caractereRecherche)
        {
            estPresent = true;
            break;
        }
        indice++;
                            
    }
                            
    // estPresent >> afficherMessage >> (ecran)
                            
    if (estPresent)
    {
        cout << "Ce caractere est dans la chaine" ; } else { cout << "Ce caractere n'est pas dans la chaine" ; 
    } 

    return 0; 

}

                    </code></pre>
                </div>
            </div>

            <!-- AC2 -->
            <div class="collapsible-section" id="Bac2">
                <button class="collapsible-btn">{% trans "2 – Appliquer des principes d’accessibilité et d’ergonomie" %}</button>
                <div class="collapsible-content"></div>
            </div>

            <!-- AC3 -->
            <div class="collapsible-section" id="Bac3">
                <button class="collapsible-btn">{% trans "3 – Adopter de bonnes pratiques de conception et de programmation" %}</button>
                <div class="collapsible-content"></div>
            </div>

            <!-- AC4 -->
            <div class="collapsible-section" id="Bac4">
                <button class="collapsible-btn">{% trans "4 – Vérifier et valider la qualité de l’application par les tests" %}</button>
                <div class="collapsible-content"></div>
            </div>

        </div>
    </div>

</div>
{% endblock content %}
