{% extends 'myapp/base.html' %} 
{% load static %}

{% block myheader %}
    <link rel="stylesheet" href="{% static 'css/myCss.css' %}">
    <h1>My portfolio</h1>
{% endblock myheader %}

{% block aside %}
    <img src="{% static 'image/photo_profil_linkedin.jpg' %}" alt="photo Clem">
    <h4>My profile</h4>
    <p>This is me !</p>
{% endblock aside %}

{% block content %}
    <h2>Portfolio Clémence Perraudin</h2>
    <div class="container mb-4 text-center"> 
        {% for row in allrow %}
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                {% for c in row %}
                <div class="col">
                    <div class="card card_me" style="width: 18rem;">
                        {% if c.picture %}
                            <img src="{{c.picture.url}}" class="card-img-top" width="200" height="300">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ c.title }}</h5>
                            <p class="card-text"> {{ c.time }} hours</p>
                            <p>
                                {% if c.specfile %}
                                    specfile : <a href="{{c.specfile.url}}">Download</a>
                                {% endif %}
                            </p>
                            <a href="#" class="btn btn-bd-primary">More details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <hr class="mx-2">
    <ul class="pagination mx-4">
        {% if allproject.has_previous and allproject.has_next != True %}
            <li class="page-item"><a class="page-link" 
                href="?page={{allproject.previous_page_number}}"> < </a></li>
            <li class="page-item"><a class="page-link" 
                href="?page={{allproject.number|add:-1}}">{{allproject.number|add:-1}}</a></li>
            <li class="page-item active"><a class="page-link" 
                href="?page={{allproject.number}}">{{allproject.number}}</a></li>
        {% endif %}

        {% if allproject.has_previous and allproject.has_next%}
            <li class="page-item"><a class="page-link" 
                href="?page={{allproject.previous_page_number}}"> < </a></li>
            <li class="page-item"><a class="page-link" 
                href="?page={{allproject.number|add:-1}}">{{allproject.number|add:-1}}</a></li>
            <li class="page-item active"><a class="page-link" 
                href="?page={{allproject.number}}">{{allproject.number}}</a></li>
            <li class="page-item"><a class="page-link" 
                href="?page={{allproject.number|add:1}}">{{allproject.number|add:1}}</a></li>
            <li class="page-item"><a class="page-link" 
                href="?page={{allproject.next_page_number}}">{{allproject.next_page_number}}</a></li> 
        {% endif %}

        {% if allproject.has_next and allproject.has_previous != True %}
            <li class="page-item active"><a class="page-link" 
                href="?page={{allproject.number}}">{{allproject.number}}</a></li>
            <li class="page-item"><a class="page-link" 
                href="?page={{allproject.number|add:1}}">{{allproject.number|add:1}}</a></li>
            {% if allproject.num_pages > 2 %}
            <li class="page-item"><a class="page-link" 
                href="?page={{allproject.number|add:2}}">{{allproject.number|add:2}}</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" 
                href="?page={{allproject.next_page_number}}"> > </a></li> 
        {% endif %}

    </ul>
    <p class="mx-4"> Page {{allproject.number}} from {{allproject.paginator.num_pages}} </p>
{% endblock content %}



