{% extends 'myapp/base.html' %} 
{% load static %}
{% load i18n %}


{% block myheader %}
    <link rel="stylesheet" href="{% static 'css/myCss.css' %}">
    <h1>{% trans "COMPÉTENCES" %}</h1>
{% endblock myheader %}

{% block aside %}
    <h2>{% trans "Compétences" %}</h2>
    <br>
    <p class="text-center">
        {% trans "Voici les différentes compétences que j'ai appris à maîtriser durant ma formation." %}
    </p>
    <br>
    <p class="text-center">
        {% trans "Ces quatre compétences sont des essentielles en tant que développeur." %}
    </p>
    <br>
    <p class="text-center">
        {% trans "A l'intérieur de chacune de ces compétences, 
        il y a une description brève de la compétence, ainsi que les preuves que je les maîtrise." %}  
    </p>
{% endblock aside %}

{% block content %}
    <h2 class="text-center">{% trans "Mes compétences" %}</h2>
    <ul class="d-flex flex-column justify-content-center d-inline list-unstyled">
        <li class="mx-auto">
            <a class="btn-competence" href="{% url 'competence1-page' %}">
                <h3 class="txt-btn-competences" >{% trans "Compétence 1 — Réaliser un développement d’application" %}</h3>
            </a>
        </li>
        <li class="mx-auto">
            <a class="btn-competence" href="{% url 'competence2-page' %}">
                <h3 class="txt-btn-competences" >{% trans "Compétence 2 — Optimiser des applications" %}</h3>
            </a>
        </li>
        <li class="mx-auto">
            <a class="btn-competence" href="{% url 'competence3-page' %}">
                <h3 class="txt-btn-competences" >{% trans "Compétence 3 — Administrer des systèmes informatiques communicants complexes" %}</h3>
            </a>
        </li>
        <li class="mx-auto">
            <a class="btn-competence" href="{% url 'competence4-page' %}">
                <h3 class="txt-btn-competences" >{% trans "Compétence 4 — Gérer des données de l’information" %}</h3>
            </a>
        </li>
    </ul>
{% endblock content %}