{% extends 'myapp/base.html' %} 
{% load static %}
{% load i18n %}


{% block myheader %}
    <link rel="stylesheet" href="{% static 'css/myCss.css' %}">
    <h1>{% trans "Mon CV" %}</h1>
{% endblock myheader %}

{% block aside %}
    <img src="{% static 'image/photo_profil_linkedin.jpg' %}" alt="photo Clem">
    <h2 class="text-start"> {% trans "PROFILE" %}</h2>
    <p class="text-start"> {% blocktrans %} Je suis étudiante en deuxième année de BUT informatique. 
        Curieuse, rigoureuse et créative, j’aime  développer des solutions efficaces et intuitives. {% endblocktrans %} </p>

    <h2 class="text-start"> {% trans "ETAT CIVIL" %}</h2>
    <p class="text-start"><strong> {% trans "Date de naissance" %}:</strong> 14/12/2006</p>
    <p class="text-start"><strong> {% trans "Nationalité" %} :</strong> française</p>

    <h2 class="text-start"> {% trans "CONTACTS" %}</h2>
    <p class="text-start">+66 09 49 30 70 03</p>
    <p class="text-start">clemenceperraudi@gmail.com</p>
    <p class="text-start">Rue Henri Descoins 
        47000 Agen</p>

    <h2 class="text-start"> {% trans "LOISIRS" %}</h2>
    <p class="text-start"><strong> {% trans "Lecture" %}:</strong>  {% trans "Romans, Webtoons" %}</p>
    <p class="text-start"><strong> {% trans "Jeux vidéos" %}:</strong> Genshin impact, Zelda: Breath of the wild</p>
{% endblock aside %}

{% block content %}
    <h3 class="white-text"> {% trans "FORMATION / DIPLÔME" %}</h3>
    <h5 class="mb-0 white-text">{% trans "BUT INFORMATIQUE - 2EME ANNEE" %}</h5>
    <p class="mb-2 white-text">{% blocktrans %} IUT de Bayonne et du Pays Basque à Anglet
        1 an en échange universitaire à Prince of Songkla 
        University en Thaïlande en 2025: En cours {% endblocktrans %}</p>
    <h5 class="mb-0 white-text">{% trans "BACCALAUREAT GENERAL - MENTION BIEN" %}</h5>
    <p class="mb-3 white-text">{% blocktrans %} Lycée Bernard Palissy à Agen —  2021-2024
        Spécialités Numérique et Sciences de l’Informatique (NSI) 
        et Mathématiques {% endblocktrans %}</p>

    <h3 class="white-text">{% trans "PROJETS ACADEMIQUES" %}</h3>
    <p class="white-text"><strong>{% trans "Développement d'une interface web" %}</strong></p>
    <ul class="white-text">
        <li><p>{% trans "Projet : Création d’un site web" %}</p></li>
        <li><p>{% blocktrans %} Compétences : Maîtrise de Figma pour la conception 
            (charte graphique, zoning, wireframes, mock-ups), HTML/CSS, 
            utilisation de Bootstrap et Django pour l’implémentation, 
            travail collaboratif, respect des bonnes pratiques d’accessibilité 
            et de qualité du code. {% endblocktrans %}</p></li>
    </ul>
    <p class="white-text"><strong>{% trans "Création d’une base de données" %}</strong></p>
    <ul class="white-text">
        <li><p>{% trans "Mise en place d’une base de données en SQL." %}</p></li>
        <li><p>{% trans "Compétences : Analyse des besoins, modélisation, requêtes SQL." %}</p></li>
    </ul>
    
    <h3 class="white-text">{% trans "COMPETENCES" %}</h3>
    <p class="white-text"><strong>{% trans "Langages informatiques" %}: </strong>Python, C++, SQl, HTML/CSS, Verilog</p>
    <p class="white-text"><strong>{% trans "Savoir-être" %} :</strong></p>
    <ul class="white-text">
        <li><p>{% trans "Capacité d'adaptation" %}</p></li>
        <li><p>{% trans "Esprit d'analyse et logique" %}</p></li>
        <li><p>{% trans "Travail d'équipe" %}</p></li>
    </ul>

    <h3 class="white-text">{% trans "LANGUES" %}</h3>
    <p class="white-text"><strong>{% trans "Français" %}:</strong> {% trans "langue maternelle" %}</p>
    <p class="white-text"><strong>{% trans "Anglais" %}:</strong> {% trans "courant (écrit et oral)" %} C1</p>
{% endblock content %}