{% extends 'myapp/base.html' %} 
{% load static %}
{% load i18n %}


{% block myheader %}
    <link rel="stylesheet" href="{% static 'css/myCss.css' %}">
    <h1>{% trans "PROJETS" %}</h1>
{% endblock myheader %}

{% block aside %}
    <h2 class="mb-3">{{contact.title}}</h2>
    <!--<p>{{ contact.time }} hours</p>-->
    <p class="mb-3 text-center">{{contact.description}}</p>
    {% if contact.specfile %}
        <a href="{{contact.specfile.url}}" class="btn btn-bd-primary">{% trans "Télécharger le document" %}</a>
    {% endif %}
{% endblock aside %}

{% block content %}

    {% if contact.picture %}
        <img src="{{contact.picture.url}}">
    {% endif %}
<!--
    {% if contact.code != '' %}
        <a href="#" class="mt-3 mb-1 btn btn-bd-primary align-self-center">{% trans "Consulter le code" %}</a>
    {% endif %}-->
    {% if contact.link != '' %}
        <a href="{{contact.link}}" class="mt-1 btn btn-bd-primary align-self-center">{% trans "Voir le résultat" %}</a>
    {% endif %}

{% endblock content %}