

/* Espace sous la nav pour le reste de la page */
body {
    margin: 0;
    padding-top: 70px; /* même que la hauteur du nav */
    font-family: Poppins, sans-serif;
}

/* --- Layout global --- */
.page-wrapper {
    display: flex;
    min-height: calc(100vh - 70px - 60px); /* tout l’espace entre nav et footer */
    font-family: Lora;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px; /* hauteur de la nav */
    background-color: rgb(253, 240, 224);
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    z-index: 1000; /* l'ombre couvre bien tout ce qui est dessous */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #dcd6ff;
    color: #000;
}

nav img {
    width: 50px;
    height: 50px;
    border-radius: 25%;
    object-fit: cover; /* évite la déformation */
    margin-right: 10px;
    vertical-align: middle;
}

aside{
    margin-left: 40px;
    margin-right: 20px;
}

h2{
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

h4{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

h5{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

footer {
    background-color: #faf9ff;
    border-top: 1px solid #ddd;
    padding: 20px;
    height: min-content;
    text-align: center;
}

aside img{
    border-radius: 8%;
    object-fit: cover;
    margin: 5px;
}

.nav-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

/* Aside va du dessous de la barre de nav au dessus du footer */
.sidebar {
    width: 20em;
    background-color: rgb(255, 232, 246);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Contenu interne sticky et scrollable */
.sidebar-inner {
    position: sticky;
    top: 80px; /* un peu sous la nav pour respirer */
    max-height: calc(100vh - 80px - 60px); /* espace visible entre nav et footer */
    overflow-y: auto; /* scroll interne si contenu trop grand */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}


/* Contenu principal à droite de l'aside */
.content {
    flex: 1;
    padding: 30px 40px;
}

.card_me { /*A RENOMMER*/
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); /* pour l'effet de “flottement” */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}